@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-screen flex flex-col justify-between font-inter text-theme-foreground;
  }

  main {
    @apply flex-1;
  }

  h2 {
    @apply text-xl sm:text-2xl font-bold;
  }

  h3 {
    @apply text-lg sm:text-xl font-bold;
  }

  h4 {
    @apply text-lg font-bold;
  }

  h5 {
    @apply text-base font-bold;
  }

  input {
    @apply text-sm;
  }
}

.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards, scaleIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.accept:checked + label span {
  @apply bg-theme-primary;
}

.accept:checked + label span svg {
  @apply block;
}

.accept:checked ~ #accept-list {
  @apply block;
}

.menu-link.active {
  @apply border-theme-primary bg-menu;
}

.menu-link.active div:first-child {
  @apply bg-theme-green;
}

.menu-link.active p {
  @apply text-theme-foreground;
}

.menu-link.active svg {
  @apply stroke-theme-primary;
}

.hs-accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.hs-accordion.active .hs-accordion-content {
  max-height: 500px; /* A large enough value */
}
