@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter;
  }

  h2 {
    @apply text-xl sm:text-2xl font-bold text-theme-foreground;
  }
}

.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards, scaleIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.accept:checked + label {
  @apply bg-theme-primary;
}

.accept:checked + label svg {
  @apply block;
}

.accept:checked + label + div ul {
  @apply block;
}
